@font-face {
    font-family: 'robotoBold';
    src: url('./Roboto-Bold.ttf') format('truetype'), 
        url('./Roboto-BoldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}








body {
    background-color: white;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column-reverse;
}

.navbar { 
    display: flex;
    justify-content: space-evenly;
    border-bottom: 2.3px solid black;
    align-items: center;
}

.navbar button {
        align-items: center;
        background-color: #fff;
        border: 2px solid #000;
        box-sizing: border-box;
        color: #000;
        cursor: pointer;
        display: inline-flex;
        fill: #000;
        font-size: 16px;
        font-weight: 600;
        height: 48px;
        justify-content: center;
        letter-spacing: -.8px;
        line-height: 24px;
        min-width: 140px;
        outline: 0;
        padding: 0 17px;
        text-align: center;
        text-decoration: none;
        transition: all .3s;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
}

button:focus  {
    color: #171e29;
  }
  
    button:hover {
      border-color: #06f;
      color: #06f;
      fill: #06f;
    }
    
    button:active {
      border-color: #06f;
      color: #06f;
      fill: #06f;
    }
  
  .submitBtn:hover {
    border-color: #06f;
    color: #06f;
    fill: #06f;
  }
  
  .submitBtn:active {
    border-color: #06f;
    color: #06f;
    fill: #06f;
  }
  
  
  .submitBtn:focus  {
      color: #171e29;
    }
    
  
  @media (min-width: 768px) {
     button {
      min-width: 170px;
    }
     button {
      min-width: 170px;
    }
  }

.buttonContainer {
    display: flex;
    gap: 10px;
}


.sideBarContainer {
  /* yeah this is annoying and gay */
  display: flex;
  flex-direction: column;
  width: 10%;
  height: 90vh;
  justify-content: space-around;
  align-items: center;
}

.sideBarProject {
  background-color: white;
  background-color: none;
  border: 2px solid black;
  cursor: pointer;
  font-weight: bold;
  font-size: 1rem;
  height: 100px;
  
}

.active  {
  border-color: #06f
}


#contentContainer {
  display: flex;
  gap: 250px;
  
}
.projectContainer {
  margin: 85px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.toDoContainer {
  display: flex;
  width: 1000px;
  justify-content: space-between;
}

.highPriority, .mediumPriority, .lowPriority {
  width: 10px;
}

.highPriority {
  background-color: red;
  
}

.mediumPriority {
  background-color: orange;
}

.lowPriority {
  background-color: green;
}

.detailsContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  
}