@font-face {
    font-family: 'robotoBold';
    src: url('./Roboto-Bold.ttf') format('truetype'), 
        url('./Roboto-BoldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}








body {
    background-color: white;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column-reverse;
}

html, body{
  height: 100%;
}

.navbar { 
    display: flex;
    justify-content: space-evenly;
    border-bottom: 2.3px solid black;
    align-items: center;
    
}

.navbar button {
        align-items: center;
        background-color: #fff;
        border: 2px solid #000;
        box-sizing: border-box;
        color: #000;
        cursor: pointer;
        display: inline-flex;
        fill: #000;
        font-size: 16px;
        font-weight: 600;
        height: 48px;
        justify-content: center;
        letter-spacing: -.8px;
        line-height: 24px;
        min-width: 140px;
        outline: 0;
        padding: 0 17px;
        text-align: center;
        text-decoration: none;
        transition: all .3s;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
}

button:focus  {
    color: #171e29;
  }
  
    button:hover {
      border-color: #06f;
      color: #06f;
      fill: #06f;
    }
    
    button:active {
      border-color: #06f;
      color: #06f;
      fill: #06f;
    }
  
  .submitBtn:hover {
    border-color: #06f;
    color: #06f;
    fill: #06f;
  }
  
  .submitBtn:active {
    border-color: #06f;
    color: #06f;
    fill: #06f;
  }
  
  
  .submitBtn:focus  {
      color: #171e29;
    }
    
  
  @media (min-width: 768px) {
     button {
      min-width: 170px;
    }
     button {
      min-width: 170px;
    }
  }

.buttonContainer {
    display: flex;
    gap: 10px;
}


.sideBarContainer {
  display: flex;
  flex-direction: column;
  border: 2.3px solid black;
  align-items: center;
  justify-content: space-around;
  flex-basis: 10%;
  margin: 20px;
}

.itemsContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 20px;
 
}
.projectText {
   border-bottom: 2px dotted black;
}

.sideBarProject {
  background-color: white;
  border: none;
  cursor: pointer;
  font-weight: bold;
  font-size: 1rem;
  
  
  
}

.active  {
  border-bottom: 2px dotted #06f;
}


#contentContainer {
  display: flex;
  flex: 1;
  
}
.projectContainer {
  margin-top: 50px;
  margin-right: 200px;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  
  gap: 10px;
}


.toDoContainer {
  border: 2px solid black;
  display: flex;
  gap: 10px;
  min-width: 60%;
  justify-content: space-between;
  padding: 10px;
}


.flexContainer {
  display: flex;
  gap: 20px;
}

.flexContainer2 {
  display: flex;
  gap: 30px;
}

.highPriority, .mediumPriority, .lowPriority {
  width: 10px;
  
}

.highPriority {
  background-color: red;
  
}
.mediumPriority {
  background-color: orange;
}
.lowPriority {
  background-color: green;
}


 .deleteBTN, .editBTN {
  border: none;
  cursor: pointer;
  width: 40px;
 
}


.completeBTN, .detailsBTN {
  border: 2.3px solid black;
  background-color: white;
  min-width: 50px;
  cursor: pointer;
  
  
}

.detailsBTN {
  min-width: 100px;
}



.deleteBTN:hover {
  background-color: red;
  
}

.editBTN:hover {
  background-color:#06f;
}






.incomplete {
  background: none;
}

.complete {
  background-color: black;
}




.detailsContainer {
  position: absolute;
  background-color: white;
  border: 2.3px solid black;
  padding: 20px;
  top: 33%;
  left: 27%;
  margin: -25px 0 0 -25px;
  box-shadow: 1px -1px 48px 8px rgba(0,0,0,0.75);
  display: flex;
  flex-direction: column;
  width: 50%;

}

.detailsContainer button {
  background-color: white;
  border: 2.3 solid black;
  align-self: flex-start;
}
