@font-face {
    font-family: 'robotoBold';
    src: url('./Roboto-Bold.ttf') format('truetype'), 
        url('./Roboto-BoldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}








body {
    background-color: white;
    font-family: 'robotoBold';
 
}